@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'custom.css';

/* Estilos para tablas responsivas */
@layer utilities {
  .tabla-responsive {
    max-width: 100%;
  }

  @media (min-width: 576px) {
    .tabla-responsive {
      max-width: 480px;
    }
  }

  @media (min-width: 768px) {
    .tabla-responsive {
      max-width: 510px;
    }
  }

  @media (min-width: 992px) {
    .tabla-responsive {
      max-width: 700px;
    }
  }

    @media (min-width: 1200px) {
    .tabla-responsive {
      max-width: 940px;
    }
  }

  @media (min-width: 1350px) {
    .tabla-responsive {
      max-width: 1270px;
    }
  }

  @media (min-width: 1700px) {
    .tabla-responsive {
      max-width: 1550px;
    }
  }
}