/* custom.css */
/* Animación y estado responsivo para la sidebar */
.sidebar {
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 1000;
        transform: translateX(-100%);
        visibility: hidden;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    }

    .sidebar.active {
        transform: translateX(0);
        visibility: visible;
    }
}

